{
    "endOfLine": "lf",
    "semi": true,
    "doubleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "printWidth": 120,
    "useTabs": false,
    "bracketSameLine": false,
    "bracketSpacing": true
  }
  



